{% extends "base.jinja2" %}

{% block body %}
    <style>
    p {
        max-width: 400px;
        font-size: large;
    }
    </style>

    <p>
        User ID: {{ user_id }}
    </p>
    {% if contact %}
        <p>
            <b>Contact ID:</b> {{ contact.resourceName }} <br>
            <b>Contact Name:</b> {% if contact.names | length > 0 %} {{ contact.names[0].givenName }} {% endif %} <br>
            <b>Contact Notes:</b> {% if contact.biographies | length > 0 %} {{ contact.biographies[0].value }} {% endif %} <br>
        </p>
    {% else %}
        <p>
            Sorry contact not found <br>
            It takes a few minutes to update your contact list. Please refresh the page in a few minutes. <br/>
            If contact doesn't exist in your contact list at all, then just sign out and sign in again, the server will create a new contact for you.
        </p>
    {% endif %}
    <p>
        If you want to unsubscribe, click sign out link bellow.
    </p>
    <p>
        <a href="/logout">Sign out</a>
    </p>

{% endblock %}